@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: 'SUIT-Regular';
    font-size: 14px;
    line-height: 26px;
    color: #000;
    min-width: 1320px;
}

/* font-family: 'MuseoModerno', cursive; */

/*헤더*/
#header{
    width: 1180px;
    margin: auto;
    text-align: center;
}
#header> a{
    display: inline-block;
    margin: 10px 0;
}
.nav{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.nav> li{
    padding: 10px 60px;
    display: block;
}
.nav> li> a{
    font-weight: bold;
    font-size: 17px;
}
.nav> li> a:hover{
    color: #214160;
}

/* 서브메뉴 꾸미기 */
.sub{
    position: absolute;/*헤더가 기준*/
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0px;
    z-index: 99;
    min-width: 1320px;
   display: none;/* 서브메뉴 안보이게 만들기*/
}
.sub div{
    width: 1180px;
    height: 110px;
    margin: 10px auto;
    padding: 20px 0;
}
.sub div li{
    font-size: 16px;
    font-weight: bold;
    margin-right: 142px; 
    padding-bottom: 5px;   
}
.nav li:hover .sub{
    display: block;
}
.sub div li a:hover{
    color: #214160;
    text-decoration: underline;
}

/*배너*/
#banner{
    width: 100%;
}
/*컨텐츠1*/
#content{
    width: 100%;
    overflow: hidden;
    background: url(./images/background.jpg) no-repeat center top;
}
.content_inner{
    width: 1180px;
    overflow: hidden;
    margin: 150px auto;
    text-align: center;
}
.white{
    padding-bottom: 50px;
    color: #fff;
}
.margin{
    display: block;
    margin: 0 10px;
}
h2{
    padding-top: 25px;
}
.nav1 p{
    padding-top: 25px;
    color: #fff;
}
.price{
    padding-bottom: 20px;
}
.nav1 .click{
    border: 1px solid #ccc;
    background-color: #1d4160;
    color: #fff;
    padding: 5px 12px;
    display: inline-block;
}
.click:hover{
    background-color: #fedab7;
}
.nav1{
    float: left;
    box-sizing: border-box;
}
.nav1 img{
    display: block;    
}
.nav1 li{
    overflow: hidden;
    margin-bottom: 20px;
}
.nav1 li a{
    overflow: hidden;
    display: block;
}
.nav1 li:hover img{
    transform: scale(1.2, 1.2);
}
.nav1 li img{
    transition: all 0.7s;
    
}
/*컨텐츠2*/
#content2{
    width: 999px;
    margin: auto;
    overflow: hidden;
}
.black{
    text-align: center;
    padding-bottom: 15px;
}
#content2 h3{
    text-align: center;
    font-size: 21px;
    color: #214160;
    padding-bottom: 30px;
}
#content2 h4{
    padding: 50px 0 0 50px;
}
#content2 img, #content2 div{
    float: left;
}
.text1{
    height: 408px;
    width: 510px;
}
.text2{
    height: 365px;
    width: 489px;
    text-align: right;
    padding-right: 50px;
    box-sizing: border-box;
}
.text1 p{
   padding: 50px 0 10px 50px;
}
.text2 p{
   padding: 50px 0 10px 0;
}

/* 컨텐츠3 */
#content3{
    width: 1090px;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}
h5{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #90b3db;
    padding-bottom: 30px;
    padding-top: 100px;
}
.price1{
    color: #90b3db;
}
.content3_inner> div{
    float: left;
}
.margin2{
    margin: 0 20px 0 20px;
}
.img-1{
    overflow: hidden;
    width: 350px;
     height: 410px;
     border-radius: 100px 0 100px 0;
     margin-bottom: 20px;
}

.content3_inner div img:hover{
    transform: scale(1.2, 1.2);
}
.content3_inner div img{
    transition: all 0.7s;   
}

h6{
    font-size: 17px;
    padding-bottom: 10px;
}
.price1{
   font-size: 14px;
   font-weight: bold;
   padding-bottom: 40px;
   display: block;
   color: #90b3db;
}
/* membership */
#membership{
    background: url(./images/memnbershipbackground.jpg) no-repeat;
}
.membership_inner{
     width: 886px;
     margin: 40px auto;
     text-align: center;
     overflow: hidden;
     padding-bottom: 100px;
}
.membership_inner h1{
    padding: 30px 0 10px 0;
    padding-top: 100px;
}
.membership_inner h3{
    padding-bottom: 20px;
    font-size: 16px;
    color: #1d4160;
}
.magin_3{
    margin: 0 200px 0 200px;
}
.membership_inner div img{
    padding-bottom: 20px;
}
.membership_inner div:nth-child(3) p{
    font-weight: bold;
}
.membership_inner div:nth-child(3) p span{
    font-size: 10px;
}
.p_span{
    padding-bottom: 50px;

}
.membership_inner div p a{
    border: 1px solid #ccc;
    background-color: #8f9aa7;
    color: #fff;
    padding: 10px 40px;
}
.membership_inner div p a:hover{
    background-color: #fedab7;
}
.membership_inner div:nth-child(3) p a{
    margin-right: 5px;
    margin-left: 5px;
}

/* sns */
#sns{
    margin: 100px auto;
    text-align: center;
}
#sns h1{
    font-size: 33px;
    font-weight: bold;
}
#sns h2{
    font-size: 20px;
    color: #1d4160;
}
/* 이벤트 */
#event{
    background-color: #ebe6e1;
}
.event_inner{
    width: 1320px;
    margin: auto;
    overflow: hidden;
}
.event1{
    background: url(./images/event1-1.png) no-repeat;
    width: 380px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 50px;
}
.event_inner h2{
    color: #fff;
    font-size: 27px;
    font-weight: bold;  
    padding-top: 50px;  
}
.event_inner h3{
    padding-top: 300px;
    color: #fff;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
}
.event_inner p{
    color: #fff;
    font-weight: bold;
}
.event2{
    background: url(./images/event1-2.png) no-repeat;
    width: 380px;
    height: 600px;
    text-align: center;
    float: left;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
}   
.event3{
    background: url(./images/event1-3.png) no-repeat;
    width: 380px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 50px;
}

/* 푸터 */
#footer{
    background-color: #214160;
}
.footer_inner{
    width: 1100px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.footer_inner .logo{
    padding-top: 20px;
}
.footer_inner a img{
    padding: 10px 20px;
    opacity: 0.5;
}
.footer_inner a img:hover{
    opacity: 1;
}
.footer_inner div p:nth-child(7){
    color: #8f9aa7;
}
.footer_inner div p:nth-child(7) a{
    color: #8f9aa7;
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 20px;
}
.footer_inner div p:nth-child(7) a:hover{
    color: #fedab7;
}
.footer_inner div p:nth-child(8){
    color: #8f9aa7;
}
.footer_inner div p:nth-child(9){
    color: #8f9aa7;
    padding-bottom: 20px;
}



