@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #000;}
body{
    font-family: 'SUIT-Regular';
    font-size: 14px;
    line-height: 26px;
    color: #000;
    min-width: 1320px;
}

/* font-family: 'MuseoModerno', cursive; */

/*헤더*/
#header{
    width: 1180px;
    margin: auto;
    text-align: center;
}
#header> a{
    display: inline-block;
    margin: 10px 0;
}
.nav{
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.nav> li{
    padding: 10px 60px;
    display: block;
}
.nav> li> a{
    font-weight: bold;
    font-size: 17px;
}
.nav> li> a:hover{
    color: #214160;
}

/* 서브메뉴 꾸미기 */
.sub{
    position: absolute;/*헤더가 기준*/
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    left: -3px;
    z-index: 99;
    min-width: 1320px;
   display: none;/* 서브메뉴 안보이게 만들기*/
}
.sub div{
    width: 1180px;
    height: 110px;
    margin: auto;
    padding: 40px 0 80px 0;
}
.sub div li{
    font-size: 16px;
    font-weight: bold;
    margin-right: 142px; 
    padding-bottom: 20px;   
}
.nav li:hover .sub{
    display: block;
}
.sub div li a:hover{
    color: #214160;
    text-decoration: underline;
}

/* 멤버십 배너 */
#banner img{
    width: 100%;
    overflow: hidden;
    display: block;
}

/* 멤버십 1 */
#membership{
    background-color: #b1c0d2;
    overflow: hidden;
    width: 100%;
    padding-top: 100px;
}
.membership_inner{
    width: 721px;
    margin: auto;
}
.membership_inner div{
    float: left;
    width: 237px;
    height: 368px;
    text-align: center;
    padding-top: 198px;
    box-sizing: border-box;
}
.m1{
    background: url(./images2/member2-1.png) no-repeat;
}
.m2{
    background: url(./images2/member2-2.png) no-repeat;
}
.m3{
    background: url(./images2/member2-3.png) no-repeat;
}
h1{
    text-align: center;
    padding: 100px 0 50px 0;
    font-size: 40px;
    font-weight: bold;
    color: #274967;
}

/* 멤버십2 */
#membership2{
    background-color: #ebe6e1;
    height: 800px;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 5px;
}
.membership2_inner{
    width: 961px;
    margin: auto;
}
.membership2_inner ul{
    width: 961px;
    height: 210px;
    margin-bottom: 40px;
    padding: 30px 0 0px 270px;
    box-sizing: border-box;
}
.membership2_inner p{
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.member2-1{
    background: url(./images2/member3-1.png) no-repeat;
}
.member2-2{
    background: url(./images2/member3-2.png) no-repeat;
}
.member2-3{
    background: url(./images2/member3-3.png) no-repeat;
}

.membership2_inner ul li{
    float: left;
}
.membership2_inner ul li:nth-child(2){
    margin: 0 45px;
}

h2{
    padding: 100px 0 50px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #274967;
}

/* 푸터 */
#footer{
    background-color: #214160;
}
.footer_inner{
    width: 1100px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.footer_inner .logo{
    padding-top: 20px;
}
.footer_inner a img{
    padding: 10px 20px;
    opacity: 0.5;
}
.footer_inner a img:hover{
    opacity: 1;
}
.footer_inner div p:nth-child(7){
    color: #8f9aa7;
}
.footer_inner div p:nth-child(7) a{
    color: #8f9aa7;
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 20px;
}
.footer_inner div p:nth-child(7) a:hover{
    color: #fedab7;
}
.footer_inner div p:nth-child(8){
    color: #8f9aa7;
}
.footer_inner div p:nth-child(9){
    color: #8f9aa7;
    padding-bottom: 20px;
}

